@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oleo+Script&family=Oswald&family=Roboto&display=swap');

#myvideo {
    position: fixed;
    /* right: 0;
    bottom: 0; */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: 100%;
}

/* 
@media (min-aspect-ratio: 16/9) {
    #mavideo {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto; /* En pratique : supérieur à la hauteur du viewport */
    /* }
} */
@media (max-aspect-ratio: 16/9) {
    #mavideo {
        
            width: 720px;
            height: auto;
            margin: 0 auto;
            min-width: 100%;
            min-height: 100% ;
            
        }
        /* display: block;
        margin: 0 auto;
        width: auto; 
        height: 100%; */
    }
}

.full-screen-video-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}



html,body{
height: 100%;
font-family: 'Numans', sans-serif;
}
#home{
    justify-content: center;
}
.container{
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
}

title{
    font-size: 4rem;
    font-weight: bold;
    color: #e8b941;
    position: relative;  
    font-family: Helvetica ;
    text-align: center;
    justify-content: center;
}

.content {
    position: absolute;
    color: #e8b941;
    top: 10em;
    font-family: 'Oleo Script', cursive;
    font-size: large;
}

.card{
height: 125px;
position: relative;
margin-top: auto;
margin-bottom: 15%;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}


.input-group-prepend span{
width: 50px;
background-color: #e8b941;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

/*CV Button*/
.play-button {

    display: inline-block;
    background: #e8b941;
    color: #fff !important;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    -webkit-transform: translateZ(0px);
}  

    .play-button:hover {

        color: #fff;
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        -webkit-transform: translate(0px, -10px);   
        -webkit-font-smoothing: subpixel-antialiased;
    }
/* fin CARD PART */